/data/mysql/backup/*
/data/log/*
/data/golog/*
/data/upload/*
/document/api/*
/server/application/cache/*
/server/server
/server/nohup.out
.DS_Store
*.apk
.vscode
*/.idea
.idea
blockchain-browser
/dist

!/data/mysql/backup/.gitignore
!/data/log/.gitignore
!/data/golog/.gitignore
!/data/upload/.gitignore
!/data/upload/sample.jpg
